[submodule "vendor/ace-jump-mode"]
	path = vendor/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/cucumber-el"]
	path = vendor/cucumber-el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/dizzee"]
	path = vendor/dizzee
	url = git://github.com/davidmiller/dizzee.git
[submodule "vendor/enhanced-ruby-mode"]
	path = vendor/enhanced-ruby-mode
	url = git://github.com/zenspider/enhanced-ruby-mode.git
[submodule "vendor/fill-column-indicator"]
	path = vendor/fill-column-indicator
	url = git://github.com/emacsmirror/fill-column-indicator.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = git://github.com/emacsmirror/haskell-mode.git
[submodule "vendor/helm"]
	path = vendor/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "vendor/helm-ls-git"]
	path = vendor/helm-ls-git
	url = git://github.com/emacs-helm/helm-ls-git.git
[submodule "vendor/inf-ruby"]
	path = vendor/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby
[submodule "vendor/logito"]
	path = vendor/logito
	url = git://github.com/sigma/logito
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/magit/magit.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/mode-compile"]
	path = vendor/mode-compile
	url = git://github.com/emacsmirror/mode-compile.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "vendor/pcache"]
	path = vendor/pcache
	url = git://github.com/sigma/pcache
[submodule "vendor/popup-el"]
	path = vendor/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule "vendor/rainbow-mode"]
	path = vendor/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "vendor/sass-mode"]
	path = vendor/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "vendor/wgrep"]
	path = vendor/wgrep
	url = git://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/nrepl.el"]
	path = vendor/nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = git://github.com/clojure-emacs/clojure-mode.git
[submodule "vendor/paredit"]
	path = vendor/paredit
	url = git://github.com/emacsmirror/paredit.git
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "vendor/git-modes"]
	path = vendor/git-modes
	url = git://github.com/magit/git-modes.git
[submodule "vendor/smartparens"]
	path = vendor/smartparens
	url = git://github.com/Fuco1/smartparens.git
[submodule "vendor/dash.el"]
	path = vendor/dash.el
	url = git://github.com/magnars/dash.el.git
[submodule "vendor/cider"]
	path = vendor/cider
	url = git://github.com/clojure-emacs/cider.git
[submodule "vendor/pkg-info"]
	path = vendor/pkg-info
	url = git://github.com/lunaryorn/pkg-info.el
[submodule "vendor/epl"]
	path = vendor/epl
	url = git://github.com/cask/epl
[submodule "vendor/base16-emacs"]
	path = vendor/base16-emacs
	url = git://github.com/neil477/base16-emacs.git
[submodule "vendor/wanderlust"]
	path = vendor/wanderlust
	url = git://github.com/wanderlust/wanderlust.git
[submodule "vendor/emacs-slim"]
	path = vendor/emacs-slim
	url = git://github.com/slim-template/emacs-slim.git
[submodule "vendor/flycheck"]
	path = vendor/flycheck
	url = git://github.com/flycheck/flycheck.git
[submodule "vendor/emacs-async"]
	path = vendor/emacs-async
	url = git://github.com/jwiegley/emacs-async.git
[submodule "vendor/queue"]
	path = vendor/queue
	url = git://github.com/emacsmirror/queue.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "init.d/markdown-mode"]
	path = init.d/markdown-mode
	url = git@github.com:defunkt/markdown-mode.git
[submodule "vendor/jade-mode"]
	path = vendor/jade-mode
	url = git@github.com:brianc/jade-mode.git
[submodule "vendor/dockerfile-mode"]
	path = vendor/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
[submodule "vendor/groovy-mode"]
	path = vendor/groovy-mode
	url = git@github.com:Groovy-Emacs-Modes/groovy-emacs-modes.git
